.fill-form {
    display: flex;
    flex-direction: column;
    background-color: #502916;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.fill-form label {
    margin-bottom: 4px;
}

.fill-form input {
    border-radius: 20px;
    border: 1px solid #534741;
    padding: 5px 20px 5px 10px;
    margin-bottom: 1rem;
}

.fill-form textarea{
    border-radius: 20px;
    border: 1px solid #534741;
    padding: 5px 20px;
    margin-bottom: 1rem;
}

.fill-form button {
    border-radius: 20px;
    background-color: #534741;
    color: white;
    border: 1px solid #534741;
    padding: 5px;
    width: 5rem;
    margin-right: 0px;
    margin-left: auto;
    cursor: pointer;

}
.error-message{
    color: red;
    margin-top: 0rem;
}

