.item-large{
    max-width: 600px;
    max-height: 400px;
    min-width: 400px;
    min-height: 300px;
    object-fit: cover;
}

.winner{
    color: green;
}
.bid+.bid{
    border-left: 5px solid #B64B41;
    padding: 0rem 1rem;
}